::ng-deep .p-toolbar {
   background-color: var(--p-surface-0) !important;
   border: none !important;
   border-bottom: 1px solid var(--p-surface-200) !important;
   border-radius: 0 !important;
}

::ng-deep .p-button-text.p-button-plain {
   color: var(--p-text-color) !important;
}