::ng-deep .p-button {
   width: 100% !important;
}

::ng-deep .p-card-title {
   text-align: center !important;
}

.car-grid-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
   gap: 1rem;
}