<div class="flex justify-center mb-4">
  <p-button label="Add Car" class="w-36 mt-4" (click)="onCreateCar()"></p-button>
</div>

@if(!isCarsEmpty) {
  <div *ngIf="carObservable | async as cars" class="mt-4 car-grid-container">
    @for (car of cars; track $index) {
      <p-card class="flex flex-row justify-center w-full" [header]="car.model + ' ' + car.engine">
        <div class="flex flex-col gap-3">
          <img [src]="car.image" alt="Car Image" class="h-52 w-52 object-cover">
          <div class="flex flex-col gap-2">
            <div class="flex flex-row w-full justify-between">
              <p-button class="w-24" label="Details" (onClick)="onMoreDetails(car.id)"></p-button>
              <p-button class="w-24" label="Fuel" (onClick)="onFuel(car.id)"></p-button>
            </div>
            <p-button class="w-full" label="Fuel Calculate" (click)="showDialog(car)" />
          </div>
        </div>
      </p-card>
    }
  </div>
} @else {
  <div class="flex justify-center w-full">
    <p-message severity="warn" size="large">Your car list is empty</p-message>
  </div>
}

<p-dialog [(visible)]="calculateVisible" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template #header>
      <div class="inline-flex items-center justify-center gap-2">
          <p-avatar [image]="carImage()" shape="circle"/>
          <span class="font-bold whitespace-nowrap">{{ carModel() }}</span>
      </div>
  </ng-template>
  <span class="text-surface-500 dark:text-surface-400 block mb-8">Calculate fuel needed for a route</span>
  <div class="flex items-center gap-4 mb-4" [formGroup]="formGroup">
      <label for="distance" class="font-semibold w-24">Distance</label>
      <p-inputnumber id="distance" class="flex-auto" formControlName="travelDistance" mode="decimal" [minFractionDigits]="2" [maxFractionDigits]="5"/>
  </div>
  <ng-template #footer>
      <p-button label="Cancel" severity="danger" (click)="calculateVisible = false" />
      <p-button label="Calculate" (click)="calculateFuel()" />
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="resultVisible" [modal]="true" [style]="{ width: '25rem' }">
  <ng-template pTemplate="header">
    <h3 class="text-lg font-semibold text-[#1E293B]">Fuel Calculation</h3>
  </ng-template>

  <div class="flex flex-col items-center text-center p-4 gap-3">
    <p class="text-gray-700 text-base">
      To travel the requested distance, you need approximately:
    </p>
    <p class="text-2xl font-bold text-[#1E293B]">
      {{ fuelForDistance() }} liters
    </p>
    <p class="text-sm text-gray-500">
      Make sure you have enough fuel before starting your trip.
    </p>
  </div>

  <ng-template pTemplate="footer">
    <div class="flex justify-end gap-2">
      <button pButton label="Close" icon="pi pi-times" (click)="resultVisible = false" class="p-button-text"></button>
    </div>
  </ng-template>
</p-dialog>