<div class="flex justify-center items-center h-full">
  <p-card class="h-96" [header]="'Sign-up'">
      <div class="flex flex-col gap-6 h-full w-96">
        <p-floatlabel>
          <input class="w-full" type="number" id="price" pInputText formControlName="price" />
          <label for="price">Price</label>  
        </p-floatlabel>
        
        <p-floatlabel>
          <input class="w-full" type="number" id="liters" pInputText formControlName="liters" />
          <label for="liters">Liters</label>  
        </p-floatlabel>

        <p-floatlabel>
          <input class="w-full" type="number" id="distanceTraveled" formControlName="distanceTraveled"/>
          <label for="distanceTraveled">Distance Traveled</label>  
        </p-floatlabel>
        
        <p-floatlabel>
          <input class="w-full" type="date" id="date" formControlName="date"/>
          <label for="date">Date</label>  
        </p-floatlabel>
      </div>

      <p-button label="Submit" (onClick)="onFuelSubmit()"/>
  </p-card>
</div>