::ng-deep .p-card {
   background: white !important;
   color: black !important;
   height: 100% !important;
   justify-content: center !important;
}

::ng-deep .p-inputtext {
   background: none !important;
}