::ng-deep .p-card {
   height: 100%;
   justify-content: center;
}

::ng-deep .p-tab {
   justify-content: center;
   text-align: center;
}

::ng-deep .p-card-body {
   gap: 24px;
}

::ng-deep .p-password {
   width: 100%;
}

::ng-deep .p-panel-header {
   display: none;
}

::ng-deep .p-button {
   width: 100%;
   font-weight: 600;
}