<div *ngIf="carObservable | async as car">
  <div class="flex flex-col gap-10">
    <p-card class="flex flex-row justify-center w-full" [header]="car.model + ' ' + car.engine">
      <img [src]="car.image" alt="Car Image" class="h-52 w-52 object-cover">
    </p-card>
  
    <div class="flex flex-row justify-center gap-10">
      <p-card>
        <div class="flex flex-col gap-3">
          <p class="text-black"><b class="font-medium">Year:</b> {{ car.year }}</p>
          <p class="text-black"><b class="font-medium">Category:</b> {{ car.category }}</p>
          <p class="text-black"><b class="font-medium">KM:</b> {{ car.km }}</p>
          <p class="text-black"><b class="font-medium">Fuel Capacity:</b> {{ car.fuelCapacity }}</p>
        </div>
      </p-card>
  
      <p-card header="Last Month Information" class="w-96">
        <p-carousel
          [value]="carouselData"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [showIndicators]="true">
  
          <ng-template pTemplate="item" let-item>
            <p-card>
              <div class="flex flex-col text-center">
                <h3 class="font-medium text-lg">{{ item.title }}</h3>
                <p class="text-base">{{ item.value }}</p>
              </div>
            </p-card>
          </ng-template>
        </p-carousel>
      </p-card>
    </div>
  </div>
</div>