::ng-deep .p-card {
   color: #1E293B !important;
   height: 100% !important;
   justify-content: center !important;
}

::ng-deep .p-card-title {
   color: #1E293B !important;
   text-align: center !important;
}