<div *ngIf="carObservable | async as car" class="mt-4 p-5">
  <div class="flex flex-row justify-center gap-10">
    <div class="flex items-center">
      <p-card class="flex flex-row w-full" [header]="car.model + ' ' + car.engine">
        <img [src]="car.image" alt="Car Image" class="h-60 w-60 object-cover">
      </p-card>
    </div>
  
    <div class="flex flex-col justify-center gap-10">
      <p-card header="Car Information" class="w-80">
        <div class="flex flex-col items-center">
          <p class="text-black text-lg"><b class="font-medium">Year:</b> {{ car.year }}</p>
          <p class="text-black text-lg"><b class="font-medium">Category:</b> {{ car.category }}</p>
          <p class="text-black text-lg"><b class="font-medium">KM:</b> {{ car.km }}</p>
          <p class="text-black text-lg"><b class="font-medium">Fuel Capacity:</b> {{ car.fuelCapacity }}</p>
        </div>
      </p-card>
  
      <p-card header="Last Month Information" class="flex flex-col w-80" *ngIf="isCarousel()" [formGroup]="formGroup">
        <p-selectbutton [options]="monthsOptions" formControlName="months" optionLabel="label" optionValue="value" class="w-full justify-center" />
        <p-carousel
          [value]="carouselData"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="true"
          [showIndicators]="true">
  
          <ng-template pTemplate="item" let-item>
              <div class="flex flex-col text-center">
                <h3 class="font-medium text-lg">{{ item.title }}</h3>
                <p class="text-base">{{ item.value || 'No Data' }}</p>
              </div>
          </ng-template>
        </p-carousel>
      </p-card>
    </div>
  </div>
</div>